#container{
    text-align: center;
}

#products{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    
}
.item {
    width: calc(20% - 24px);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    border-radius: 4px;
    padding: 16px;
    height: 350px;
}

.item img{
    width: 100px;
    height: 150px;
    object-fit: contain;

}

.item h1{
    font-family: sans-serif;
    font-size: 18px;

}